.student-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.student-main {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.student-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
}

.student-button {
  font-size: 16px;
  width: 150px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(95, 95, 255);
  border: none;
  color: #f8f8f8;
}
