body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  padding-bottom: 20px;
}

.query {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  width: 100%;
}

.selects {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.selects select {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 6px;
  width: 100%;
}

.repo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  text-wrap: wrap;
  border-radius: 10px;
  text-decoration: none;
  min-height: 50px;
  max-width: 700px;
  margin: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.repo-desc {
  margin-bottom: 0px;
}

.last {
  display: flex;
  flex-direction: row;
  gap: 10px;
}